/*
 * W2
 *
 * Copyright (C) 2007-2011 Steven Frank <http://stevenf.com/>
 *
 * Code may be re-used as long as the above copyright notice is retained.
 * See README.txt for full details.
 *
 * Written with Coda: <http://panic.com/coda/>
 *
 * colors icons:
 *          240,240,240
 *     dark: 15, 15, 15
 */

* {
	font-family: Monospace;
	font-size: 11px;
    margin: 0;
    padding: 0;
}

body {
	background-color: #363636;
}

blockquote {
	background-color: #0f070f;
	margin: 4px 4px 12px 20px;
	padding: 4px 10px 4px 10px;
}

form {
	display: inline;
}

li {
	line-height: 1.5em;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 4px;
	/*margin-top: .6em;*/
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 4px;
	margin-top: .5em;
}

h3 {
	font-size: 1.2em;
	font-weight: bold;
}
h3, h4, h5, h6 {
	margin-top: .4em;
	margin-bottom: 4px;
}

hr {
	border-top: 1px solid #363636;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	margin-top: 12px;
	margin-bottom: 12px;
}

ul,
ol {
	margin-top: .5em;
	margin-left: 1em;
	padding-left: 1em;
	list-style-position: outside;
}

ul li, ol li {
	padding-left: .5em;
}

li > ul, li > ol
{
	margin-top: 0;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

pre {
	font-family: Monospace;
	margin-left: 0;
	margin-bottom: .5em;
	margin-top: .5em;

	/* stroke each browser so that they wrap lines in the pre tag */
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */

	background: #212121;
	border: 1px dotted gray;
	padding: .2em .2em .2em .4em;
}

code {
	font-family: Monospace;
	background: #212121;
    color: #bbbbbb;
	padding: .1em .1em .1em .2em;
}

table {
	border-collapse: collapse;
	padding: .2em;
	max-width: 99%;
    background-color: #212121;
    color: #dddddd;
}
  th {
	text-align: left;
  }
  td, th {
	padding: .1em 1em .1em .1em;
	word-break: break-all;
    background: #212121;
  }
  thead {
	border-bottom: 1px solid black;
	font-weight: bold;
  }
  thead td a {
	text-decoration:none;
  }
  thead td span.sortBy:after {
	content: "\25BC";
  }
  tr:nth-child(even) {
	background: #e4e4e4;
  }
  tr:nth-child(odd) {
	background: #eeeeee;
  }
.pageActions {
	padding-left: 8px;
	padding-right: 8px;
}

textarea {
	font-family: Monospace;
	width: 75%;
	background-color: #212121;
    color: #f0eee4;
}
  @media (max-width: 600px), (orientation: portrait) {
	textarea {
		width: 99%;
	}
  }

input[type="text"],
textarea {
	padding: 2px;
}

input {
    font-family: Monospace;
}

input#gitmsg
{
	width: 60%;
}

.main {
    padding: .3em .3em .3em 1em;
    background-color: #212121;
    color: #f0eee4;
}

.main a {
    color: #89bfff;
    text-decoration: none;
    transition: 0.1s;
}

.main a:hover {
    color: #ccccff;
    text-decoration: underline;
}

/* the globe */
.main a[href^="http"]::after {
	/*content: url('/icons/internet.png');*/
}

.main a.literalMatch {
	font-weight: bold;
	color: #6666ff;
}

.main a.noexist {
	color: #f34000 !important;
}

.login {
	margin: 40px auto;
	max-width: 650px;
	line-height: 1.4;
}

.note {
	background-color: #212121;
	padding: 4px;
	margin: .5em 0 .5em 0;
	color: #6666ff;
	border: solid 1px #6666ff;
	width: 75%;
}
  @media (max-width: 600px), (orientation: portrait) {
	.note {
		width: 99%;
	}
  }

.titlebar {
	background-color: #262626;
	color: #89bfff;
    padding: 2px;
}

.titlebar span.title {
	font-size: 10px;
	font-weight: bold;
    margin: 5px;
}

.titledate {
	font-size: 0.90em;
	color: #777777;
	margin-left: 1em;
	margin-right: 1em;
}

.toolbar {
    background-color: #363636;
    position: sticky;
    top: 0;
    font-size: 2px;
}

.toolbar > a, .titlebar > a {
	font-size: 0.90em;
	margin-right: 1em;
	color: #eeeeee;
	text-decoration: none;
	font-weight: normal;
}

.toolbar > a:hover, .titlebar > a:hover {
	text-decoration: underline;
}

.sidebar {
	float: right;
}
.sidebar, .linkshere {
	margin-right: 5px;
	margin-top: 5px;
	padding: 4px;
	border: solid 1px #666644;
}
.sidebar ul {
	margin-top: 0;
	margin-left: 4px;
}
.linkshere {
	width: 50%;
	margin-left: 5px;
}
  @media (max-width: 600px), (orientation: portrait) {
	.sidebar, .linkshere {
		margin-left: 5px;
		float: none;
		width: auto;
	}
  }

input.search {
/*	font-size: 0.95em;*/
	color: #212121;
	width: 5em;
	padding: .1em;
}

input.search:focus {
	width: 15em;
}

input.pagename {
	width: 20em;
}

/* buttons (non-colors) */
input[type="button"],
input[type="submit"] {
	border:none;
	border-radius: 3px;
	padding: .5em 1em;
	cursor: pointer;
	margin-right: .5em;
}
#maxsizelabel {
	margin-right: 1em;
}

/* buttons (such as for the edit page) */
input[type="submit"] {
    background-color: #f0eee4;
	color: black;
}
input[type="button"] {
    background-color: #363636;
    color: white;
}

input[type="submit"]:hover {
    background-color: #f0eee4;
	color: black;
}
input[type="button"]:hover {
    background-color: #363636;
    color: white;
}

img {
	max-width: 50%;
	height: auto;
}

#drawer {
	display: inline-block;
	position: absolute;
	width: 300px;
	background-color: rgb(240, 240, 240);
	opacity: 0.5;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0;
	cursor: move;
}
#drawer h5 {
	border-bottom: 1px solid black;
	padding: 4px;
}
#drawer div {
	padding: 4px;
}
#drawer:hover {
	opacity: 1.0;
}
.inactive {
	display: none !important;
}
img.icon {
	width: 1.5em;
	vertical-align: middle;
}
a > img.icon:hover, a > span.icongroup:hover {
	outline: 1px outset white;
}
a > img.icon:active, a > span.icongroup:active {
	outline: 1px inset white;
}
.rightaligned
{
	float: right;
}

input.search {
    border-color: #363636;
    border-width: 0px;
    background-color: #363636;
    color: #f0eee4;
    width: 165px
}

.sidebar {
    color: #aaaaaa;
    border-color: #aaaaaa;
    background-color: #262626;
}

.sidebar a {
    color: #19bfff;
    text-decoration: none;
    transition: 0.1s;
}

.sidebar a:hover {
    color: #bbbbff;
    text-decoration: underline;
}
